*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

body {
  width: 80%;
  margin: 0 auto;
}

/* titolo */

header {
  width: 100%;
  height: 15vh;
  margin: 2% 0% 2% 0%;
 }
 header > img {
   width: 15%;
   height: 50%;
   margin-bottom: 3%
 }
 li {
   display: inline-block;
   list-style: none;
   font-size: 1em;
   margin-right: 1%;
 }

/* immagine grossa */

.big_image {
  position: relative;
  width: 100%;
  height: 60vh;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 2%;
}
.big_image > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.img_title{
  position: absolute;
  width: 550px;
  color: white;
  bottom: 10%;
  left: 5%;
  z-index: 999;
}



/* div float */

.container{
  width: 100%;
  height: 85vh;
  margin-bottom: 1%;
}

.colonna {
  float: left;
}
.titolo {
  padding-top: 25px;
  width: 100%;
  height: 10vh;
  margin-bottom: 2%;
}
.left,.right {
  position: relative;
  width: 20%;
  height: 70vh;
}
.central {
  position: relative;
  width: 56%;
  height: 70vh;
  margin: 0 2% 0 2% ;
}
.col_img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: black;
}
.col_img > img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
}

/* footer */

footer {
  width: 100%;
  height: 10vh;
  background-color: purple;
  margin: 0% 0% 2% 0%;
}
